@font-face {
    font-family: TypeFaceCH;
    src: url("zh-cn.ttf");
}


header{
   /*background-color: blue;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100px;
    z-index: 2;
    font-size: 20px;
}


header p{
    color:#E8CB9BFF;
    display: flex;
    align-items: center;
    font-family: TypeFaceCH,serif;

}


header img{
    margin: 20px;
}