@font-face {
  font-family: TypeFaceCH;
  src: url("zh-cn.ttf");
}

*{
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;

    font-family: TypeFaceCH,serif;


}


body{
    margin: 0;
    height: 100vh;
   

}

#root{
   display: grid;
    margin: 0;
    padding: 10px;

    grid-template-rows: 7% 88% 5%;
    height: 100%;
}


@media only screen and (max-width: 600px) {
    #root {
        grid-template-rows: min-content minmax(0, 1fr);
    }



}
