body{
   background-image: url("../public/main-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0;
    padding: 0;
    display: flex;
}
