@font-face {
  font-family: TypeFaceCH;
  src: url("zh-cn.ttf");
}



body{
  background-image: url("/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin:0;
  padding: 0;


  /*USE DISPLAY TABLE IN THE FUTURE*/
  display: flex;
  flex-direction: column;

  font-family: TypeFaceCH, Serif;
  box-sizing: border-box;
}