
#content{
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: space-between;

    overflow: hidden;


}


#wrapper-left{

    height: calc(100% - 37px);
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    align-items: center;

}


.search{
    display: flex;
    width: 100%;
    align-items: center;
}

.search-bar{

    width: 95%;

    color:white;
    height: 50px;
    margin: 5px auto;
    border-radius: 24px;
    padding: 15px;
    font-size: 20px;
    background-color: rgba(45,51,67,70%);

    border: 2px solid #888a97 ;

}

.categories{
    height: calc(100% - 37px);
    overflow-y: auto;
    /*background-color: blue;*/
}

.section{
    display: flex;
    height: fit-content;
}


.category{
    border: 4px solid #384450;
    background-color: rgba(45,51,67,88%);
    width: 95%;
    margin: 4px auto;
    padding: 15px 0;
    /*background-image: url("../images/.png");*/
    overflow-y: auto;

    transition: 0.2s;
       text-decoration: none;

}


.cat-title{

    color:#f6f1ec;
        font-size: 20px;
    text-align: left;
    margin:0 ;
    height: fit-content;


}


.cat-percent{
    text-align: left;
    margin: 3px;
        font-size: 17px;
    color: #bcb1a4;

}

#wrapper-left a.active{

    width: 98%;
    background-color: #f2ece6;
    border-color: #ccb18a;

}

#wrapper-left a.active .cat-title{

    color: #3d3f4c;

}






#wrapper-right{
  position: relative;
  width: 100%;
height: 100%;

}

.canvas{
  width: 100%;
  height: 100%;
    position: absolute;

  border-image-source: url("/back_canvas.png");
  /* top | right 228 | bottom 263  | left 200 */
  border-image-slice: 110 228 263 210 fill;
  border-image-width:auto;


}

.paper{
  width: calc(100% - 45px);
  height: calc(100% - 65px);
  position: relative;
  margin: 17px;
    padding-top: 10px;



  border-image-source: url("/canvas_paper.png");
  /* top | right | bottom  | left */
  border-image-slice: 60 fill;
  border-image-width:40px;

}


.scroll-style{

    height:calc(100% - 15px);
    overflow-y: scroll;
    overflow-anchor: none;
}


.scroll-style::-webkit-scrollbar{
    width: 5px;
}

.scroll-style::-webkit-scrollbar-thumb{
    background-color: #d8d0cf;
}



.progress{
        border: 2px solid #e0d7cf;
        margin: 4px 20px;

        transition-duration: 10ms;

    min-height: 100px;


    background-color: #f5f1eb;

}


.completed{
    background-color: #f0e9dc   ;
}

.progress:hover, .progress:active{
    margin: 4px 15px;

    

}




.s-title{
    background-color: #e0d2bc;
    margin: 4px 20px;
    padding: 4px 12px;
    color: #8e6d4c;
}

.left-img{
    margin: auto;
    padding: 0;
    width: auto;
    height: 80px;
    object-fit: contain;


}

.information{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    color: #3d3f4c;
    transition-duration: 1s;
    margin: auto;
    height: fit-content;


}

.title{
    font-size: 20px;
    height: fit-content;
    margin-top: 5px;
    margin-bottom: 5px;

}

.description{
    font-size: 15px;
    color: #bca791;
    height: fit-content;
    margin-bottom: 5px;

}



.primo{
    margin: auto;
    padding: 0 10px ;
    width: auto;
    height: 50px;
    object-fit: contain;


}


.completion{

    flex-basis: 50%;
    background-color: #f0e9dc;;


    max-width: 128px;

    color: #beaa95;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: TypeFaceCH,serif;
    text-align: center;
    flex-direction: row;
    position: relative;
}

.completion p{
    /*background-color:red;*/
    padding: 0;
    font-size: 17px;


}


.done{
    background-image: url("/completed-background.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;


}

.unclaim{
    position: absolute;
    background-color: rgba(245,241,235,74%);
        border: 1px solid #e0d7cf;

     border-radius: 100rem;
        width: 95%;
        height: fit-content;

    color:#beaa95;
    font-size: 15px;

    padding: 0;
    top:75%;
    cursor: pointer;


}


.claim{
    background-color: #b7513d;
    border-radius: 100rem;
    border: 3px solid #a74f41;
    width: 80%;
    height: 35%;
    max-width: fit-content;
    color: #ffebe5;
    font-size: min(3vmin,19px);
    padding: 0 15%;
    cursor: pointer;

}





@media only screen and (max-width: 600px) {
     #wrapper-left{
        display: none;
    }

   .primo{
       width: 50px;
   }

   .left-img{
       width: 50px;
   }

   .information{
       padding: 10px;
   }

   body{
       grid-template-rows: min-content minmax(0, 1fr);
   }


.paper{
    border-width: 10px 0;
  width: calc(100% - 33px);
  height: calc(100% - 55px);

    right: 5px;
    bottom: 2px;
}

.progress{
    height: fit-content;
}

.claim{
    width: fit-content;
    height: 30px;
}


}

