
#content {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: space-between;
    letter-spacing: -1px;

    gap: 30px;
    backface-visibility: hidden;


}


#wrapper_left {

    position: relative;
    height: 100%;


    display: flex;
    flex-direction: column;
    align-items: center;


}


.search {
    display: flex;
    width: 100%;
    align-items: center;
}

.search_bar {

    width: 95%;

    color: white;
    height: 18px;
    margin: 5px auto;
    border-radius: 24px;
    padding: 18px;
    font-size: 20px;
    background-color: rgb(0 0 0 / 30%);

    border: 2px solid rgba(255, 255, 255, 30%);
    /*box-shadow: 0 0 1rem -8px black ;*/

    background-image: url("/UI_Icon_Search.png");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 10px;
    text-indent: 20px;
    background-blend-mode: darken;

}

.categories {
    height: calc(100% - 80px);
    overflow-y: auto;
    /*background-color: blue;*/
    padding-top: 10px;

    scroll-padding-top: .6%;

    mask-image: linear-gradient(to bottom, transparent, rgb(0 0 0 / 100%) 1% 99%, transparent);
}

.section {
    display: flex;
    height: fit-content;
}


.category {
    position: relative;
    border: 2px solid rgba(45, 51, 67, 5%);

    box-shadow: inset 0 0 0 2px rgba(62, 71, 84, 90%);


    background-color: rgba(45, 51, 67, 88%);
    width: 91%;
    margin: 6px auto;
    padding: 15px 10px 15px 0;
    /*background-image: url("/back_cat.png");*/
    overflow-y: auto;

    text-decoration: none;

    transition: 235ms;


}



.category:hover {

    transition: 50ms;

    border: 2px solid #f2ece6;

    background-color: rgb(45, 51, 67);

    transform: scaleX(1.01);


}



.progression {
    background-color: #f2ece6;
    min-height: 90px;
    display: flex;
    border: 2px solid #e0d7cf;
    margin: 0 20px 15px 20px;
    height: fit-content;

    transition: 235ms;


}

.progression:hover {
    margin: 0 15px 15px 15px;

    /*transform: scale(10%);*/
    transition: 50ms;
    background-color: #faf8f2;

    .progression_completion {
        background-color: #f4eee2;
    }

}

.card_wrapper {
    margin: auto -10px auto 8px;
    width: 105px;
    /*background: red;*/
    display: flex;


}

.card {
    position: relative;
    top: 1px;
    right: 75px;
    object-fit: contain;
    width: 65px;
    /*display: none;*/
}


.purple_background {
    height: 65px;
    /*object-fit: contain;*/
    border-radius: calc(5px);
    filter: contrast(1.2) opacity(90%);
    margin: auto 10px;

}


.progression_info_wrapper {
    flex: 100%;

    display: flex;
    flex-direction: column;
    /*background-color: red;*/
    margin: auto;
}


.achievement_progress, .achievement_progress_title, .achievement_progress_desc {
    width: 100%;
}

.achievement_progress_title {
    color: #84603d;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.achievement_progress_desc {
    color: #bca791;
    font-size: 17px;
}

.progress_outer {
    background-color: #5d677d;
    height: 5px;
    width: 100%;
    border-radius: calc(1vh + 1vw);
    border: solid 0 transparent;
    margin: 5px 0;


}

.progress_bar {
    height: 100%;
    background-color: #f8ba3f;
    justify-content: center;
    border-radius: calc(1vh + 1vw);
    border: solid 0 transparent;
    transition: 750ms;


}


.cat_title {
    color: #f6f1ec;
    font-size: 1.25rem;
    text-align: left;
    margin: 0;
    height: fit-content;


}


.cat_percent {
    text-align: left;
    margin: 3px;
    font-size: 17px;
    color: #bcb1a4;

}


.active {

    transform: scaleX(1.02);
    background-color: #f2ece6;
    border-color: #f2ece6;


    box-shadow: inset 0 0 0 2px #ccb18a;


}

/*heheheheh...I'm tired of css*/
.active:hover {
    transform: scaleX(1.02);

    background-color: #f2ece6;
    border-color: #f2ece6;


    box-shadow: inset 0 0 0 2px #ccb18a;


}

.active .cat_title {

    color: #3d3f4c;

}


#wrapper_right {
    position: relative;
    width: 100%;


}

.canvas {
    width: 100%;
    height: 100%;
    position: absolute;

    border-image-source: url("/back_canvas.webp");
    /* top | right 228 | bottom 263  | left 200 */
    border-image-slice: 110 228 263 210 fill;
    border-image-width: 75px 128px 183px 130px;


}

.paper {
    width: calc(100% - 25px);
    height: calc(100% - 40px);
    position: relative;
    margin: 10px 8px;
    padding-top: 10px;

    border-image-source: url("/canvas_paper.webp");
    /* top | right | bottom  | left */
    border-image-slice: 60 fill;
    border-image-width: 40px;

    display: grid;
    grid-template-rows: auto 1fr;


}


.scroll_style {

    height: calc(100% - 15px);
    overflow-y: scroll;
    overflow-anchor: none;
    mask-image: linear-gradient(to bottom, transparent, rgb(0 0 0 / 100%) 1% 99%, transparent);

}


/*.scroll_style::-webkit-scrollbar {*/
/*    width: 5px;*/
/*}*/

/*.scroll_style::-webkit-scrollbar-thumb {*/
/*    background-color: #d8d0cf;*/
/*}*/


.progress {
    border: 2px solid #e0d7cf;
    margin: 4px 20px;

    min-height: 100px;

    backface-visibility: hidden;

    background-color: #f5f1eb;
    transition: 235ms;
}

.progress:hover, .progress:active {
    margin: 4px 15px;

    /*transform: scale(10%);*/
    transition: 50ms;
    background-color: #faf8f2;

    .completion {
        background-color: #f4eee2;
    }

}


.completed {
    background-color: #f0e9dc;
}

.completed:hover {
    background-color: #f4eee2;

    .completion {
        background-color: inherit;
    }
}


.s_title {
    background-color: #e0d2bc;
    margin: 4px 20px;
    padding: 4px 12px;
    color: #8e6d4c;
}

.left_img {
    margin: auto;
    padding: 0;
    width: auto;
    height: 80px;
    object-fit: contain;
    order: 1;

}

.information {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    color: #3d3f4c;
    transition-duration: 1s;
    margin: auto;
    height: fit-content;
    order: 1;


}

.title {
    font-size: 20px;
    height: fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 7px;
    color: #555555;


}

.description {
    font-size: 16px;
    color: #bca791;
    height: fit-content;
    margin-bottom: 5px;
    margin-left: 7px;

}


.primo {
    margin: auto;
    padding: 0 10px;
    width: auto;
    height: 50px;
    object-fit: contain;
    order: 2;


}


.completion, .progression_completion {
    flex-basis: 50%;
    background-color: #f0e9dc;;
    max-width: 128px;
    color: #beaa95;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: TypeFaceCH, serif;
    position: relative;
    order: 2;

}

.completion {
    min-height: 100px;
}

.progression_completion {
    color: #84603d;
    margin-left: 15px;
}

.completion p {
    /*background-color:red;*/
    font-size: 18px;


}


.done {
    background-image: url("/completed-background.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.unclaim {
    position: absolute;
    background-color: rgba(245, 241, 235, 74%);
    border: 1px solid #e0d7cf;

    border-radius: 100rem;
    width: 95%;
    height: fit-content;

    color: #beaa95;
    font-size: 15px;

    padding: 0;
    top: 75%;
    cursor: pointer;


}


.unclaim:focus{

    background-color:  rgba(245, 241, 235, .1);
}


.claim {
    background-color: #b7513d;
    border-radius: calc(2vh + 2vw);
    border: 2px solid #a74f41;
    max-width: fit-content;
    height: fit-content;
    color: #ffebe5;
    font-size: 17px;
    padding: 2px 20px;
    cursor: pointer;

}

.claim:focus{

    transition: 50ms;

    background-color: rgba(183, 81, 61, .60);
}


@media screen and (width <= 1278px) {
    #wrapper_left {
        display: none;

    }


    @media (width <= 740px) {

        .progress {
            flex-wrap: wrap;
            justify-content: center;
        }

        .left_img {
            height: 60px;
            margin: 0;
            order: 1;
        }

        .primo {
            height: 30px;
            order: 1;
            margin: auto 0;

        }

        .information {
            text-align: center;
            text-wrap: normal;
            order: 2;

        }


        .completion {
            width: 100%;
            max-width: none;
            padding: 30px 0;
            order: 2;
            flex-basis: 100%;
            border-top: #dfceb8 solid 2px;

        }

        .completion p {
            margin: 0;
        }


        .progression {
            flex-wrap: wrap;
            height: fit-content;

        }

        .progression_completion {
            margin: 0;
        }


        .card_wrapper {
            margin: auto;
            position: relative;
            width: auto;

        }

        .card {
            position: absolute;
            width: 40px;
            right: 10px;
        }

        .purple_background {
            width: auto;
            height: 40px;

        }


        .progression_info_wrapper {
            margin: 5px 10px;

        }

        .achievement_progress {
            font-size: 10px;
        }

        .achievement_progress_title {
            font-size: 16px;
        }

        .achievement_progress_desc {
            font-size: 12px;
        }


        .progression_completion {
            width: 100%;
            flex-basis: auto;
            max-width: none;
            padding: 5px 0;
            border-top: #dfceb8 solid 2px;
            font-size: 12px;
        }

        .title {
            font-size: 18px;
        }

        .description {
            font-size: 14px;
        }

        .progress {
            margin: 25px 20px;
        }


    }

}




