
#content {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: space-between;
    letter-spacing: -1px;

    backface-visibility: hidden;


}


#wrapper_left {

    height: 100%;


    display: flex;
    flex-direction: column;
    align-items: center;


}


.search {
    display: flex;
    width: 100%;
    align-items: center;
}

.search_bar {

    width: 95%;

    color: white;
    height: 18px;
    margin: 5px auto;
    border-radius: 24px;
    padding: 18px;
    font-size: 20px;
    background-color: rgb(0 0 0 / 30%);

    border: 2px solid rgba(255, 255, 255, 30%);
    /*box-shadow: 0 0 1rem -8px black ;*/

    background-image: url("/UI_Icon_Search.png");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 10px;
    text-indent: 20px;
    background-blend-mode: darken;

}

.categories {
    height: calc(100% - 80px);
    overflow-y: auto;
    /*background-color: blue;*/
    padding-top: 10px;

    scroll-padding-top: .6%;

    mask-image: linear-gradient(to bottom, transparent, rgb(0 0 0 / 100%) 1% 99%, transparent);
}

.section {
    display: flex;
    height: fit-content;
}


.category {
    border: 2px solid rgba(45, 51, 67, 5%);

    box-shadow: inset 0 0 0 2px rgba(62, 71, 84, 90%);


    background-color: rgba(45, 51, 67, 88%);
    width: 95%;
    margin: 6px auto;
    padding: 15px 10px 15px 0;
    /*background-image: url("../images/.png");*/
    overflow-y: auto;

    text-decoration: none;

}


.progression {
    background-color: #f2ece6;
    min-height: 100px;
    display: flex;
    border: 2px solid #e0d7cf;
    margin: 0 20px 15px 20px;
    height: fit-content;

}

.card_wrapper {
    flex: 1 10 80px;
    margin: auto;
    position: relative;
    padding: 8px 0 0 15px;
    width: fit-content;
    /*background: red;*/
}

.progression_info_wrapper {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    margin: auto;

}

.card {
    position: absolute;
    right: -1px;
    object-fit: contain;
    height: 83px;
}


.purple_background {
    width: 80px;
    object-fit: contain;
    border-radius: calc(.3vh + .3vw);
    opacity: 85%;

}


.achievement_progress{
    width: 95%;
    margin: 5px auto;

}

.progress_outer {
    background-color: #5d677d;
    height: 5px;
    width: 95%;
    margin: 0 auto;
    border-radius: calc(1vh + 1vw);
    border: solid 0 transparent;


}

.progress_bar {
    height: 100%;
    background-color: #f8ba3f;
    transition-duration: 1s;
    justify-content: center;
    border-radius: calc(1vh + 1vw);
    border: solid 0 transparent;

}




.cat_title {
    color: #f6f1ec;
    font-size: 20px;
    text-align: left;
    margin: 0;
    height: fit-content;


}


.cat_percent {
    text-align: left;
    margin: 3px;
    font-size: 17px;
    color: #bcb1a4;

}




.active {

    transform: scaleX(1.02);
    background-color: #f2ece6;
    border-color: #f2ece6;


    box-shadow: inset 0 0 0 2px #ccb18a;


}

.active .cat_title {

    color: #3d3f4c;

}


#wrapper_right {
    position: relative;
    width: 100%;


}

.canvas {
    width: 100%;
    height: 100%;
    position: absolute;

    border-image-source: url("/back_canvas.png");
    /* top | right 228 | bottom 263  | left 200 */
    border-image-slice: 110 228 263 210 fill;
    border-image-width: auto;


}

.paper {
    width: calc(100% - 45px);
    height: calc(100% - 65px);
    position: relative;
    margin: 17px;
    padding-top: 10px;

    border-image-source: url("/canvas_paper.png");
    /* top | right | bottom  | left */
    border-image-slice: 60 fill;
    border-image-width: 40px;

    display: grid;
    grid-template-rows: auto 1fr;

}


.scroll_style {

    height: calc(100% - 15px);
    overflow-y: scroll;
    overflow-anchor: none;
    mask-image: linear-gradient(to bottom, transparent, rgb(0 0 0 / 100%) 1% 99%, transparent);

}


.scroll_style::-webkit-scrollbar {
    width: 5px;
}

.scroll_style::-webkit-scrollbar-thumb {
    background-color: #d8d0cf;
}


.progress {
    border: 2px solid #e0d7cf;
    margin: 4px 20px;


    min-height: 100px;

    backface-visibility: hidden;

    background-color: #f5f1eb;


}


.completed {
    background-color: #f0e9dc;
}

.progress:hover, .progress:active {
    /*margin: 4px 15px;*/


    transform: scaleX(1.009);


}


.s_title {
    background-color: #e0d2bc;
    margin: 4px 20px;
    padding: 4px 12px;
    color: #8e6d4c;
}

.left_img {
    margin: auto;
    padding: 0;
    width: auto;
    height: 80px;
    object-fit: contain;


}

.information {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    color: #3d3f4c;
    transition-duration: 1s;
    margin: auto;
    height: fit-content;


}

.title {
    font-size: 20px;
    height: fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 7px;
    color: #555555;


}

.description {
    font-size: 16px;
    color: #bca791;
    height: fit-content;
    margin-bottom: 5px;
    margin-left: 7px;

}


.primo {
    margin: auto;
    padding: 0 10px;
    width: auto;
    height: 50px;
    object-fit: contain;


}


.completion {
    flex-basis: 50%;
    background-color: #f0e9dc;;
    max-width: 128px;
    color: #beaa95;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: TypeFaceCH, serif;
    text-align: center;
    flex-direction: row;
    position: relative;
}

.completion p {
    /*background-color:red;*/
    padding: 0;
    font-size: 18px;


}


.done {
    background-image: url("/completed-background.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.unclaim {
    position: absolute;
    background-color: rgba(245, 241, 235, 74%);
    border: 1px solid #e0d7cf;

    border-radius: 100rem;
    width: 95%;
    height: fit-content;

    color: #beaa95;
    font-size: 15px;

    padding: 0;
    top: 75%;
    cursor: pointer;


}


.claim {
    background-color: #b7513d;
    border-radius: calc(1vh + 1vw);
    border: 3px solid #a74f41;
    max-width: fit-content;
    height: fit-content;
    color: #ffebe5;
    font-size: 17px;
    padding: 2% 15%;
    cursor: pointer;

}


@media screen and (width <= 1024px) {
    #wrapper_left {
        display: none;

    }


    /*.title{*/
    /*    font-size: 1px;*/
    /*}*/

    /*.description{*/
    /*    font-size: 1px;*/
    /*}*/

    .left_img{
        height: 40px;
    }



    .section{
        flex-direction: column;
    }






}

