@font-face {
    font-family: TypeFaceCH;
    src: url("zh-cn.ttf");
}

*{
    box-sizing: border-box;
     font-family: TypeFaceCH,serif;

}


body{

    margin-top:0;
    padding-top:0;
  background-image: url("../images/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

    /*Temporary solution for body scroll, can't seem to pin point what it is*/
    /*overflow: hidden;*/

}







header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    margin: 0;
    padding: 0;
    z-index: 2;

}


header p{
    color:#E8CB9BFF;
    display: flex;
    font-size: min(24px, 4vmin);
    align-items: center;
    font-family: TypeFaceCH,serif;

}







#wrapper-left{
  background-color: red;
  width: 50%;
  height: calc(88vh - 40px);
}








#wrapper{
  position: relative;
  width: 100%;
  height: 88vh;

}


.canvas{
  border: solid;
  width: 100%;
  height: 100%;
  position: absolute;


  border-image-source: url("../images/back_canvas.png");
  /* top | right 228 | bottom 263  | left 200 */
  border-image-slice: 110 228 263 210 fill;
  border-image-width:auto;


}


.paper{
  border: solid ;
    border-bottom-width: 20px;
  width: calc(100% - 45px);
  height: calc(100% - 63px);
  position: relative;
  margin: 17px;
  z-index: 1000;
  word-wrap: break-word;


  border-image-source: url("../images/canvas_paper.png");
  /* top | right | bottom  | left */
  border-image-slice: 60 fill;
  border-image-width:40px;

}

.scroll-style{
    width: 99%;
    height: 100%;
    overflow-y: scroll;
}


.scroll-style::-webkit-scrollbar{
    width: 5px;
}

.scroll-style::-webkit-scrollbar-thumb{
    background-color: #d8d0cf;
}









.progress{
    display: flex;
    border: 2px solid #e0d7cf;
    height : 20%;

    max-height: 13vh;
    min-height: 100px;

    margin: 4px 20px;
    padding-left: 0;

    justify-content: space-between;

}

.left-img{
    padding: 0;
    max-width: 15vw;
    height: auto;
    object-fit: contain;

   flex-basis: 10%;
}

.information{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    color: #3d3f4c;
}

.title{
    font-size: min(24px, 4vmin);
}

.description{
    font-size: min(3vmin, 18px);
        color: #bcb1a4;

}


.primo{
    max-width: min(30vw,60px);

    height: auto;
    object-fit: contain;

    margin-right: 10px;
    width: 30%;

}




.completion{
    flex-basis: 40%;
    background-color: #ebe3d8;
    margin: 0;

    max-width: 200px;

    color: #b2a295;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: TypeFaceCH,serif;
    font-size: 1.5vmax;
}


