@font-face {
    font-family: TypeFaceCH;
    src: url("zh-cn.ttf");
}

*{
    box-sizing: border-box;
    font-family: TypeFaceCH,serif;

}



body{
    display: grid;
    margin: 0;
    padding: 10px;

    grid-template-rows: 10% 90%;
    height: 100vh;


  background-image: url("../images/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;


}

header{
    display: flex;
    flex-direction: row;
    width: 100%;
}


header p{
    color:#E8CB9BFF;
    display: flex;
    align-items: center;
    font-size: min(24px, 4vmin);
    font-family: TypeFaceCH,serif;

}

.right{
    margin-left: auto;
}

header img{
    margin: auto 0;
    height: 90%;
    padding: 0 7px;
    width: auto;
    /*background-color: orange;*/
}



.guts{
    /*border-style: double;*/
    display: flex;
    flex-wrap:wrap;
    padding: 17px;
    margin: 0 1%;
    justify-content: center;
    /*background-color: red;*/
    overflow: auto;

    height: 100%;
}

.cell{
    display: flex;
    position: relative;
    margin: 0.5%;
    background-color: Transparent;
    border: none;

    width: 13vw;
    height: auto;
    background-color: green;
}

.container{
    width: 100%;
    height: auto;
}

.ins_image{
    position: absolute;
    left: 13%;
    top: 8%;
    height: auto;
    width: 77%;

}


.card_title{
    font-family: TypeFaceCH,serif;
    width: 85%;
    color: #e3e1d5;
    position: absolute;
    top:48%;
    left: 8%;
    overflow: hidden;

}

.percentage{
     font-family: TypeFaceCH,serif;
    width: 85%;
    color:#E8CB9BFF;
    position: absolute;
    top:77%;
    margin: auto 9%;
    overflow: hidden;
    /*background-color: green;*/
}


@media only screen and (max-width: 600px) {


 header{
       flex-direction: column;
       align-items: center;
   }

   header p{
       margin: 0;
   }

   .right{
       margin: 0;
   }

   header img{
       height: 40%;
       margin-bottom: 0;
   }
}



