@font-face {
    font-family: TypeFaceCH;
    src: url("zh-cn.ttf");
}

*{
    box-sizing: border-box;
    font-family: TypeFaceCH,serif;

}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    margin: 0;
    padding: 0;
    z-index: 2;
    background-color: red;

}


header p{
    color:#E8CB9BFF;
    display: flex;
    font-size: min(24px, 4vmin);
    align-items: center;
    font-family: TypeFaceCH,serif;

}


header img{
    height: min(200px, 6vmin);
    margin: 0 7px;
    max-height: 10vh;
    width: auto;
}



html{
    height: 100%;
}

body{
   background-image: url("../images/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
}



.guts{
    /*border-style: double;*/
    display: flex;
    flex-wrap:wrap;
    padding: 17px;
    margin: 0 1%;
    justify-content: center;
    /*background-color: red;*/
    overflow-y: scroll;
    max-height: 90vh;
}

.cell{
    position: relative;
    text-align: center;
    margin: 20px;
    background-color: Transparent;
    border: none;
}

.container{
    width: 100%;
    height: auto;
}

.ins_image{
    position: absolute;
    left: 33px;
    top: 33px;
    height: 53%;
}


.card_title{
    font-family: TypeFaceCH,serif;
    width: 85%;
    color: #e3e1d5;
    position: absolute;
    top:55%;
    margin: auto 9%;
    overflow: hidden;
    /*background-color: red;*/
}

.percentage{
     font-family: TypeFaceCH,serif;
    width: 85%;
    color:#E8CB9BFF;
    position: absolute;
    top:77%;
    margin: auto 9%;
    overflow: hidden;
    /*background-color: green;*/
    font-size: 23px;
}


@media only screen and (max-width: 600px) {


   header{
       flex-direction: column;
       background-color: blue;
   }
}



