@font-face {
    font-family: TypeFaceCH;
    src: url("zh-cn.ttf");
}

.topbar{
    font-size: 22px;
    font-family: TypeFaceCH,serif;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: -15px;

}

body{
    background-image: url("/web/images/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.right{
    margin-left: auto;
}

img{
    margin-right: 25px;

}

p{
    color:#E8CB9BFF;
    display: flex;
    align-items: center;

}
