<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles/detail_style.css" />
    <script src="../static/scripts/detail_scripts.js"></script>

     <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>details</title>
</head>
<body>

    <header>
            <img loading="eager" alt="Wonders of the World" src="../static/images/acat_0.webp" style="margin-right: 7px; max-width:20%; max-height: 9rem;">
            <p> Achievements</p>
            <p class="right"> Achievements completed: <span style="color:darkgrey; "> 0</span></p>
    </header>

    <div class="content">
        <div class="wrapper-left">
            <button class="section category">
                <img src="../static/images/cat1.png" width="auto" height="50%" style="padding:0 14px;">
                <div class="cat-text">
                <p class="cat-title">The Hero's Journey</p>
                <p class="cat-percent">100 %</p>
                    </div>
            </button>
             <button class="section category">
                <img src="../static/images/cat1.png" width="auto" height="50%" style="padding:0 14px;">
                <div class="cat-text">
                <p class="cat-title">The Hero's Journey</p>
                <p class="cat-percent">100 %</p>
                    </div>
            </button>
             <button class="section category">
                <img src="../static/images/cat1.png" width="auto" height="50%" style="padding:0 14px;">
                <div class="cat-text">
                <p class="cat-title">The Hero's Journey</p>
                <p class="cat-percent">100 %</p>
                    </div>
            </button>
             <button class="section category">
                <img src="../static/images/cat1.png" width="auto" height="50%" style="padding:0 14px;">
                <div class="cat-text">
                <p class="cat-title">The Hero's Journey</p>
                <p class="cat-percent">100 %</p>
                    </div>
            </button>
              <button class="section category">
                <img src="../static/images/cat1.png" width="auto" height="50%" style="padding:0 14px;">
                <div class="cat-text">
                <p class="cat-title">The Hero's Journey</p>
                <p class="cat-percent">100 %</p>
                    </div>
            </button>
             <button class="section category">
                <img src="../static/images/cat1.png" width="auto" height="50%" style="padding:0 14px;">
                <div class="cat-text">
                <p class="cat-title">The Hero's Journey</p>
                <p class="cat-percent">100 %</p>
                    </div>
            </button>
              <button class="section category">
                <img src="../static/images/cat1.png" width="auto" height="50%" style="padding:0 14px;">
                <div class="cat-text">
                <p class="cat-title">The Hero's Journey</p>
                <p class="cat-percent">100 %</p>
                    </div>
            </button>
             <button class="section category">
                <img src="../static/images/cat1.png" width="auto" height="50%" style="padding:0 14px;">
                <div class="cat-text">
                <p class="cat-title">The Hero's Journey</p>
                <p class="cat-percent">100 %</p>
                    </div>
            </button>
              <button class="section category">
                <img src="../static/images/cat1.png" width="auto" height="50%" style="padding:0 14px;">
                <div class="cat-text">
                <p class="cat-title">The Hero's Journey</p>
                <p class="cat-percent">100 %</p>
                    </div>
            </button>
             <button class="section category">
                <img src="../static/images/cat1.png" width="auto" height="50%" style="padding:0 14px;">
                <div class="cat-text">
                <p class="cat-title">The Hero's Journey</p>
                <p class="cat-percent">100 %</p>
                    </div>
            </button>







        </div>



<!--        <div id="wrapper">-->
<!--            <div class="canvas">-->
<!--            </div>-->
<!--            <div class="paper">-->

<!--                <div class="scroll-style masked-overflow">-->

<!--                    <div class="section progress">-->

<!--                        <img class="left-img" src="../static/images/UI_AchievementIcon_1_0.png">-->
<!--                        <p class="information">-->
<!--                           <span class="title">Onward and Upward</span>-->
<!--                             <span class="description">A single stone births a thousand ripples. It seems like Ningguang's day off is not to be.</span>-->
<!--                        </p>-->

<!--                        <img class="primo" src="../static/images/5stprimo.webp">-->
<!--                        <div class="completion">-->
<!--                            <button class="claim" type="button">Mark</button>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                     <div class="section progress">-->

<!--                        <img class="left-img" src="../static/images/UI_AchievementIcon_1_0.png">-->
<!--                        <p class="information">-->
<!--                           <span class="title">Onward and Upward</br></span>-->
<!--                             <span class="description">A single stone births a thousand ripples. It seems like Ningguang's day off is not to be.</span>-->
<!--                        </p>-->

<!--                        <img class="primo" src="../static/images/5stprimo.webp">-->

<!--                        <div class="completion">-->
<!--                            <button class="claim" type="button">Mark</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                     <div class="section progress">-->

<!--                        <img class="left-img" src="../static/images/UI_AchievementIcon_1_0.png">-->
<!--                        <p class="information">-->
<!--                           <span class="title">Onward and Upward</br></span>-->
<!--                             <span class="description">A single stone births a thousand ripples. It seems like Ningguang's day off is not to be.</span>-->
<!--                        </p>-->

<!--                        <img class="primo" src="../static/images/5stprimo.webp">-->

<!--                        <div class="completion">-->
<!--                            <button class="claim" type="button">Mark</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                     <div class="section progress">-->

<!--                        <img class="left-img" src="../static/images/UI_AchievementIcon_1_0.png">-->
<!--                        <p class="information">-->
<!--                           <span class="title">Onward and Upward</br></span>-->
<!--                             <span class="description">A single stone births a thousand ripples. It seems like Ningguang's day off is not to be.</span>-->
<!--                        </p>-->

<!--                        <img class="primo" src="../static/images/5stprimo.webp">-->

<!--                        <div class="completion">-->
<!--                            <button class="claim" type="button">Mark</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                     <div class="section progress">-->

<!--                        <img class="left-img" src="../static/images/UI_AchievementIcon_1_0.png">-->
<!--                        <p class="information">-->
<!--                           <span class="title">Onward and Upward</br></span>-->
<!--                             <span class="description">A single stone births a thousand ripples. It seems like Ningguang's day off is not to be.</span>-->
<!--                        </p>-->

<!--                        <img class="primo" src="../static/images/5stprimo.webp">-->

<!--                        <div class="completion">-->
<!--                            <button class="claim" type="button">Mark</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                     <div class="section progress">-->

<!--                        <img class="left-img" src="../static/images/UI_AchievementIcon_1_0.png">-->
<!--                        <p class="information">-->
<!--                           <span class="title">Onward and Upward</br></span>-->
<!--                             <span class="description">A single stone births a thousand ripples. It seems like Ningguang's day off is not to be.</span>-->
<!--                        </p>-->

<!--                        <img class="primo" src="../static/images/5stprimo.webp">-->

<!--                        <div class="completion">-->
<!--                            <button class="claim" type="button">Mark</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                     <div class="section progress">-->

<!--                        <img class="left-img" src="../static/images/UI_AchievementIcon_1_0.png">-->
<!--                        <p class="information">-->
<!--                           <span class="title">Onward and Upward</br></span>-->
<!--                             <span class="description">A single stone births a thousand ripples. It seems like Ningguang's day off is not to be.</span>-->
<!--                        </p>-->

<!--                        <img class="primo" src="../static/images/5stprimo.webp">-->

<!--                        <div class="completion">-->
<!--                            <button class="claim" type="button">Mark</button>-->
<!--                        </div>-->
<!--                    </div>-->







<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>





</body>
</html>