footer p{
text-align: center;
    color: white;
    font-size: 12px;

}

footer{
    width: 100%;
    margin: 0;
    overflow: hidden;
    /*background-color: red;*/
}

@media only screen and (max-width: 600px) {

    footer p{
        font-size: 8px;
    }

}
