footer p{
text-align: center;
    color: white;
    font-size: min(1vh, 10px);
}

footer{
    width: 100%;
    margin: 0;
    overflow: hidden;
    /*background-color: red;*/
}

@media only screen and (max-width: 600px) {

    footer p{
        font-size: 1px;
    }

}
