


.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 2.3%;
    height: 100%;
    overflow: hidden;

    /*background-color: blue;*/
}


.headerp{
    color:#E8CB9BFF;
    display: flex;
    align-items: center;
    font-size: min(2vh, 20px);
    /*background-color: red;*/
}


.header img{
    height: 1.5vh;
    width: auto;
    /*background-color: orange;*/

    margin: auto 7px auto 0;

}

.right{
    margin-left: auto;
}

@media only screen and (max-width: 600px) {

    .header{
       flex-direction: column;
       align-items: center;
        padding-bottom: 5%;
   }

   .header p{
       margin: 0;
   }

   .right{
       margin: 0;
   }

   .header img{
       height: 20px;
        margin: 0;
   }

}